<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>CarsDealerApp</title>
</head>

<body>
  <div class="js-nav nav"></div>
  
  <div class="create-form form-car"> 
    <form action="#"> 
      <h2 class="create-title">create car</h2>
      <label for="name">Name:</label>
      <input type="text" class="imput-car" name="name" id="name" value="" />

      <label for="description">Description:</label>
      <input type="text" class="imput-car" name="description" id="description" value="" />

      <label for="year">Year:</label>
      <input type="number" class="imput-car" name="year" id="year" />

      <label for="color">Color:</label>
      <input type="text" class="imput-car" name="color" id="color" />

      <label for="date">Date:</label>
      <input type="date" class="imput-car" name="date" id="date" />

      <input type="submit" id="btn-submit-car">
      
    </form>
  </div>

  <div class="create-form form-brand">
    <form action="#">
      <h2 class="create-title">Create brand</h2>
      <label for="name">Name:</label>
      <input type="text" class="imput-brand" name="name" id="name" />

      <label for="description">Description:</label>
      <input type="text" class="imput-brand" name="description" id="name" />

      <input type="submit" id="btn-submit-brand">
    </form>
  </div> 

  <div class="inventory-brands clearfix js-all-brands">
    <div class="nav">
      <h3>brands</h3>
      <button class="btn-add add-brand">add brand</button>
    </div>
  </div>
  <div class="inventory js-inventory"></div>
  <script src="js/view.js"></script>
</body>

</html>